//- landing.pug
extends layout

block content
  section.landing
    div.text
      h2 Bem-vindo ao Riddle App
      p Teste sua mente com enigmas divertidos e desafiadores. Cada resposta correta desbloqueia um novo mistério. Você consegue chegar até o fim?

    div.image
      img(src="https://cdn-icons-png.flaticon.com/512/3922/3922329.png", alt="Enigma ilustrado")

  div.card
    h3 Pronto para começar?
    img(src="https://cdn-icons-png.flaticon.com/512/3062/3062634.png", alt="Ícone de enigma", class="card-img")
    button(onclick="window.location.href='/riddle/01'")
      span Jogar
